# Haskell
.ghc.environment.*
.stack-work/
cabal.project.local
dist-newstyle/
dist

*.prof
*.aux
*.hp
*.eventlog

log-dir
launch_*
gen/
cardano-chain-gen/test/testfiles/temp/
/secp256k1/

# Vim
*.swp

# Emacs
.dir-locals.el

# Nix
.direnv
.envrc
result*

# VS Code
/.vscode

# MacOS
.DS_Store