# General reviewers per PR
#                       Erik
*                       @erikd
*                       @kderme

# Specific reviewers for code pieces
# NB - The last matching pattern takes precedence

# /doc folder and README.* needs to be owned by @docs-access
doc                          @input-output-hk/docs-access
Readme.*                     @input-output-hk/docs-access

.buildkite                   @input-output-hk/devops
.github                      @input-output-hk/devops
config                       @input-output-hk/devops
nix                          @input-output-hk/devops
*.nix                        @input-output-hk/devops
bors.toml                    @input-output-hk/devops
nix-shell.project            @input-output-hk/devops
docker-compose.yml           @input-output-hk/devops
scripts/postgresql-setup.sh  @input-output-hk/devops
