name: Haskell CI

on:
  push:
  pull_request:
  schedule:
    # Everyday at 4:00 AM UTC
    - cron: "0 4 * * *"

jobs:
  build:
    name: build
    defaults:
      run:
        shell: devx {0}
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        compiler-nix-name: [ghc8107]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install GHC and Cabal
        uses: input-output-hk/actions/devx@latest
        with:
          platform: ${{ matrix.os == 'ubuntu-latest' && 'x86_64-linux' || 'x86_64-darwin' }}
          target-platform: ""
          compiler-nix-name: ${{ matrix.compiler-nix-name }}
          minimal: false
          # enable IOG flavour to bring in all the crypto libraries we need.
          iog: true
      - name: cabal update
        run: cabal update
      - name: cache cabal
        uses: actions/cache@v3
        with:
          path: |
            ~/.cabal-devx/packages
            ~/.cabal-devx/store
          key: ${{ runner.os }}-${{ matrix.compiler-nix-name }}-${{ hashFiles('**/*.cabal', '**/cabal.project', '**/cabal.project.freeze') }}
          restore-keys: ${{ runner.os }}-${{ matrix.compiler-nix-name }}-
      - name: cabal build dependencies
        run: cabal build all -j --enable-tests --only-dependencies
      - name: cabal build
        run: cabal build all -j --enable-tests
      - name: postgres init
        run: |
          # Set up environment
          PG_DIR="$(mktemp -d)"
          DB_DIR="${PG_DIR}/db"
          PGPASSFILE="${PG_DIR}/pgpass-testing"
          DBUSER=$(whoami)
          DBNAME=$DBUSER
          DBPASS=

          # Initialise database
          initdb --encoding=UTF8 --username=postgres "${DB_DIR}"
          postgres -D "${DB_DIR}" -c listen_addresses="" -k "${PG_DIR}" &

          # Verify Postgres is running
          sleep 10
          if (echo '\q' | psql -h ${PG_DIR} postgres postgres); then
            echo "PostgreSQL server is verified to be started."
          else
            echo "Failed to connect to local PostgreSQL server."
            exit 2
          fi

          # Create pgpass file
          echo "${PG_DIR}:5432:$DBUSER:$DBUSER:*" > $PGPASSFILE
          chmod 600 $PGPASSFILE

          # Create database
          psql -h "${PG_DIR}" postgres postgres <<EOF
            create role $DBUSER with createdb login password '$DBPASS';
            alter user $DBUSER with superuser;
            create database $DBNAME with owner = $DBUSER;
            \\connect $DBNAME
            ALTER SCHEMA public   OWNER TO $DBUSER;
          EOF

          # Pass environment to subsequent steps
          echo "PG_DIR=${PG_DIR}" >> "$GITHUB_ENV"
          echo "PGPASSFILE=${PGPASSFILE}" >> "$GITHUB_ENV"
      - name: cabal test
        run: cabal test all -j1
      - name: postgres shutdown
        run: |
          kill $(head ${DB_DIR}/postmaster.pid)
